<hr>
<footer>
    <p id="footStyle">&copy;&nbsp;&nbsp; Copyright <a href="index.html">Meysam Mahdavikhansari</a><br>Winter 2023</p>
</footer>
<!-- Script tags for using JQuery and Bootstrap -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>"
</script>
<script src="/javascripts/appClient.js"></script>
</body>
</html>