<% include partials/header.ejs %>
<main id="mainContents">
    <h1><%= title %></h1>
    <br>
    <h2><%= firstName %> <%= lastName %></h2>
    <!-- Implementation for About Me page -->
    <table>
        <tr>
            <td>
                <ul>
                    <li><h4>A Software Engineer with an outstanding experience and knowledge in Full Stack Web Development eager to learn new technologies.</h4></li>
                    <li><h4>A creative, talented and motivated problem solver wants to help you with business growth through creative design, continuous development and marketing analysis to make you outstanding in this competitive business world while striving for growth.</h4></li>
                    <li><h4>Having good planning, organizational, analytical and problem-solving skills.</h4></li>
                    <li><h4>Collaborative team member while being able to perform exceptionally without supervision.</h4></li>
                    <li><h4>Excellent interpersonal, verbal and written communication skills.</h4></li>
                </ul>
                <!-- <br>
                <br>
                <br>
                <h4>Please find my detailed Resume <button onclick="location.href = '/pdf/myResume.pdf'">here</button></h4> -->
            </td>
            <td>
                <img id="myPic" src="/images/Meysam30.jpg" alt="Meysam Mahdavikhansari" height="300" width="220">
            </td>
        </tr>
    </table>
</main>
<% include partials/footer.ejs %>