<% include partials/header.ejs %>
<main id="mainContents">
    <h1><%= title %></h1>
    <br>
    <!-- Implementation for Home page -->
    <p>Welcome to my <%= name %> <%= title %></p>
    <p>I am a Software Engineer with hands-on experience and solid knowledge of:</p>
    <ul>
        <li>HTML5 & CSS3</li>
        <li>Vanilla JavaScript ES6</li>
        <li>NodeJS</li>
        <li>ExpressJS</li>
        <li>EJS</li>
        <li>MEAN - MongoDB Atlas, ExpressJS, AngularJS, NodeJS</li>
        <li>TypeScript</li>
        <li>jQuery</li>
        <li>Ajax</li>
        <li>MongoDB Atlas - Compass</li>
        <li>Firebase Realtime Database</li>
        <li>.NET Environments (C#)</li>
        <li>Windows Presentation Foundation - WPF .NET</li>
        <li>Windows Forms .NET</li>
        <li>Microsoft SQL Server</li>
        <li>MySQL</li>
        <li>Oracle SQL</li>
        <li>Java EE</li>
        <li>JavaFX</li>
    </ul>
    <h4>Mission Statement</h4>
    <p>My mission is to provide the clients with business growth through creative design, continuous development and market analysis to make them outstanding in this competitive business atmosphere.</p>
    <p>Please checkout my other pages such as <button onclick="location.href = '/about'">About me</button>
    and <button onclick="location.href = '/projects'">My Projects</button></p>
    <p style="color: red;">Please click on each project's image to visit the application:</p>
    <table id="projectIndex">
        <tr>
            <td><h4>ShahdKalaKar's Website<br><br>using WordPress =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="https://shahdkala.com/home-english/" target="_blank">
                    <img id="myPic" src="/images/skkLogo.png" height="150" width="150" alt="ShahdKalaKar Logo">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>Document Object Model<br><br>Photo Gallery<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/dom/photos.htm" target="_blank">
                    <img id="myPic" src="/images/DOM.jpg" height="150" width="150" alt="DOM">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>GREEN BELT's<br><br>Smart Registration Web Form<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/gbRegForm/gbRegForm.html" target="_blank">
                    <img id="myPic" src="../images/3.jpg" height="150" width="150" alt="Web Form">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>Online Table Maker<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/tableMaker/tableMaker.html" target="_blank">
                    <img id="myPic" src="/images/tableMaker.jpeg" height="150" width="150" alt="tableMaker">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>Ladybug Catcher Game<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/ladybugHunter/ladybugHunter.html" target="_blank">
                    <img id="myPic" src="../images/2.jpg" height="150" width="150" alt="Ladybug">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>JavaScript Photo Gallery<br><br>using Ajax and jQuery =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/jQueryPhotoGallery/index.html" target="_blank">
                    <img id="myPic" src="../images/1.jpg" height="150" width="150" alt="Photo Gallery">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>NATURE FIT<br><br>ATHLETIC & WELLNESS CENTRE<br><br>Basal Metabolic Rate Calculator<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/bmr/bmrImperial.html" target="_blank">
                    <img id="myPic" src="/images/BMR.jpg" height="150" width="150" alt="BMR">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>M&Z GTA Real Estate<br><br>Business Website<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/realEstateMZ/homepage.html" target="_blank">
                    <img id="myPic" src="/images/sLogo.jpg" height="150" width="150" alt="M&Z GTA">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>CENTENNIAL COLLEGE<br><br>Course & Instructor<br><br>Evaluation Form<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/evaluationForm/evaluationForm.html" target="_blank">
                    <img id="myPic" src="/images/EvaluationForm.jpg" height="150" width="150" alt="EvaluationForm">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>Lexus Dealership<br><br>Prototype Webpage<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/lexus/lexus.html" target="_blank">
                    <img id="myPic" src="/images/lexusLogo.jpg" height="150" width="150" alt="lexusLogo">
                </a>
            </td>
        </tr>
        <tr>
            <td><h4>Official Websites for<br><br>Protected Areas Issues<br><br>using Vanilla JavaScript =></h4></td>
            <td style="padding: 5px; transition: transform 1s;" onmouseover="this.style.transform = 'scale(1.3)'" onmouseout="this.style.transform = 'scale(1)';">
                <a href="http://studentweb.cencol.ca/mmahdav3/myProjects/protectedAreas/protectedAreas.html" target="_blank">
                    <img id="myPic" src="/images/protectedAreas.jpg" height="150" width="150" alt="Protected Areas">
                </a>
            </td>
        </tr>
    </table>
</main>
<% include partials/footer.ejs %>