<% include partials/header.ejs %>
<br>
<h1><%= title %></h1>
<br>
<!-- Implementation for My Services page -->

<h4>Here are the areas I am proficient in:</h4>
<br>
<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Areas</th>
          <th>Technologies</th>
          <th>Experience Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>Web Development<br><br><img src="/images/web.jpg" alt="Web Development" height="150" width="150"></td>
            <td>
              <p>NodeJS => ExpressJS</p>
              <p>TypeScript</p>
              <p>Vanilla JavaScript (VanillaJS)</p>
              <p>AngularJS</p>
              <p>jQuery</p>
              <p>HTML5 & CSS3</p>
              <p>Ajax</p>
              <p>.NET Environments (C#)</p>
              <p>Microsoft SQL Server</p>
              <p>JAVA EE</p>
              <p>Oracle SQL</p>
              <p>MySQL</p>
              <p>MongoDB Atlas - Compass</p>
              <p>Firebase Realtime Database</p>
            </td>
            <td><p>Senior</p></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mobile Development<br><br><img src="/images/mobile.jpg" alt="Mobile Development" height="150" width="150"></td>
            <td>
              <p>JAVA EE</p>
              <p>Kotlin</p>
              <p>NativeScript</p>
            </td>
            <td><p>Intermediate</p></td>
        </tr>
        <!-- <tr>
            <td>3</td>
            <td>Games<br><br><img src="/images/game.jpg" alt="Game Development" height="150" width="150"></td>
            <td>
              <p>.NET</p>
              <p>C#</p>
              <p>JAVA</p>
              <p>Python</p>
            </td>
            <td><p>Junior</p></td>
        </tr> -->
        <tr>
          <td>4</td>
          <td>AI - ML<br><br><img src="/images/ai.jpg" alt="AI - ML Development" height="150" width="150"></td>
          <td>
            <p>Python => [NumPy, SciPy, Pandas, TensorFlow, TensorFlowLite, Keras, Scikit-Learn, Scikit-Image, Matplotlib, OpenAI]</p>
            <p>C# => ML.NET</p>
          </td>
          <td><p>Junior</p></td>
        </tr>
      </tbody>
    </table>
  </div>


<% include partials/footer.ejs %>